@font-face {
	font-family: "mantle";
	src: url("../fonts/mantle.eot?16539ae0729a656cf7f88ba94111c139?#iefix") format("embedded-opentype"),
url("../fonts/mantle.ttf?16539ae0729a656cf7f88ba94111c139") format("truetype"),
url("../fonts/mantle.woff?16539ae0729a656cf7f88ba94111c139") format("woff"),
url("../fonts/mantle.woff2?16539ae0729a656cf7f88ba94111c139") format("woff2"),
url("../fonts/mantle.svg?16539ae0729a656cf7f88ba94111c139#mantle") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: mantle !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-location:before {
	content: "\f101";
}
.icon-tag:before {
	content: "\f102";
}
.icon-arrow-down:before {
	content: "\f103";
}
.icon-arrow-left:before {
	content: "\f104";
}
.icon-arrow-right:before {
	content: "\f105";
}
.icon-arrow-up:before {
	content: "\f106";
}
.icon-exit:before {
	content: "\f107";
}
.icon-expand-less:before {
	content: "\f108";
}
.icon-expand-more:before {
	content: "\f109";
}
.icon-group-add:before {
	content: "\f10a";
}
.icon-home:before {
	content: "\f10b";
}
.icon-key:before {
	content: "\f10c";
}
.icon-mantle:before {
	content: "\f10d";
}
.icon-people:before {
	content: "\f10e";
}
